/* DateRangePicker.css */
.date-range-picker-container {
    margin-top: 15px;
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
  }
  
  .date-range-picker-input {
    margin-right: 10px; /* Добавляем небольшой отступ между полями выбора */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  .date-range-picker-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .date-range-picker-button:hover {
    background-color: #0056b3;
  }
  