/* DeleteCategoryButton.css */

.delete-category-button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .delete-category-button:hover {
    background-color: #c82333;
  }
  