.custom-cursor {
    cursor: pointer; /* изменение курсора на указатель при наведении */
  }
  
.pagination {
    display: flex;
    justify-content: left;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    display: block;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
  }
  
  .pagination li a:hover {
    background-color: #ddd;
  }
  
  .pagination .active a {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination .disabled a {
    pointer-events: none;
    opacity: 0.5;
  }
  

  .refresh-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .refresh-button:hover {
    background-color: #0056b3;
  }